body {
    box-sizing: border-box;
    background-color: #fac564;
}

nav div a {
    color: yellow;
}

nav {
    height: 17vh;
    position: fixed;
}

.fa-solid {
    color: #fac564;
    font-size: 100px;
    background-color: lightblue;
}

nav a {
    min-height: 20vh;
    padding-top: 50px;
}

span {
    font-size: 50px;
    font-weight: 800;
}

/* #nav-hide {
  display: none;
} */

ul {
    padding-right: 0;
}

nav ul li {
    color: white;
    font-size: 25px;
    min-width: 20vh;
    padding-top: 30px;
}

li a {
    color: white;
}





.nav-item {
    color: white;
}

.nav-link {
    color: white;
    opacity: 0.9;
}

.nav-link:hover {
    color: yellow;
}

#cont1 {
    background: url('images/bg_3.jpg')center/cover no-repeat;
    min-height: 80vh;
}



select {
    width: 20rem;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    outline:
     none;
}


#section {
    display: none;
}